<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1><span class="glyphicon glyphicon-exclamation-sign"></span>Fejl.</h1>
        <h2>Der opstod desværre en fejl.</h2>
    </hgroup>
</body>
</html>
