@{
    ViewBag.Title = "Opret";
}

<h2>Opret</h2>

@Html.Partial("_Form")


<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
